.container-game-board.display-success {
  background-color: rgba(0, 255, 0, 0.1);
  -webkit-box-shadow: 0 0 2em #0F0;
  box-shadow: 0 0 2em #0F0; }

.container-game-board.display-fail {
  background-color: rgba(255, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2em #F00;
  box-shadow: 0 0 2em #F00; }

.container-game-inputs.display-pattern {
  -webkit-box-shadow: 0 0 2em #CCC;
  box-shadow: 0 0 2em #CCC;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.game-input.display-selected {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }
