.container-game-board.display-success {
  background-color: rgba(0, 255, 0, .1);
  box-shadow: 0 0 2em #0F0;
}


.container-game-board.display-fail {
  background-color: rgba(255, 0, 0, .1);
  box-shadow: 0 0 2em #F00;
}

.container-game-inputs.display-pattern {
  box-shadow: 0 0 2em #CCC;
  transform: scale(1.2);
}

.game-input.display-selected {
  transition-timing-function: ease-out;
  transform: scale(1.2);
}
