.game-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #888;
  margin: 10px;
  transition: all 500ms ease;
}

/* Using colors from Google Logo (since 2015)
// Selected using color picker via source image https://en.wikipedia.org/wiki/Google_logo#/media/File:Google-favicon-2015.png */
.game-button[data-index="0"] {
  background-color: #FFBC05
}

.game-button[data-index="1"] {
  background-color: #5C6DF3;
}

.game-button[data-index="2"] {
  background-color: #F63232;
}

.game-button[data-index="3"] {
  background-color: #31AD51;
}

.game-button.selected {
  transform: scale(1.2);
  pointer-events: none;
}
